*{
    margin: 0; padding: 0;

    font-family: CaviarDreams;
   
}
@font-face {
    font-family: CaviarDreams;
    src: url('/caviar_dreams/CaviarDreams.ttf');
}

.navigation{
 
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
   
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.navigation h2{
    color: #a96c59;
    position: relative;
    margin-bottom: 20px;
    font-size: 40px;

letter-spacing: 2px;
}
.navigation a{
   margin:0 20px 0 20px;
 position: relative;
 font-size: 20px;
 color: black;
    text-decoration: none;


}
.navigation a:hover{
    color: #a96c59;
}
.navigation h1{
 font-size: 20rem;
position: absolute;
bottom: 9rem;


 color: #f3eae8;

 }

 .footer{
     display: flex;
     flex-direction: column;
     width: 100%;
     position: relative;
     height: 70vh;
     align-items: center;
     justify-content: center;
 }
 .footer h3{
    font-size: 60px;
    font-weight: lighter;
    color: #a96c59;
    letter-spacing: 2px;
    margin: 0 0 2rem 0;
    

}
 .footer .con{
     width: 100%;
     height: 50vh;
     display: flex;
     align-items: center;
     justify-content: center;
 }
.con .one{
    width: 12rem ;
    display: flex;
    flex-direction: column;
    align-items: center;overflow: hidden;
    height: 50vh;
    margin: 0 20px 0 20px;
}
.con .one h1{
    font-size: 1.2rem;
    margin: 10px 0 10px 0;
}
.con .one .img{
    width: 100%;
    height: 35vh;
   
    overflow: hidden;
}
.one .img img{
    width: 15rem;
}
.one input{
    width: 80px;
    height: 5vh;
   
    border: none;
    outline: none;
    border-radius: 7px;
}
.one input:hover{
    background-color: #a96c59;;
    color: white;
    cursor: pointer;
}
.one input:active{
    transform: translateY(2px);
}
















/* for small mobile */
@media only screen and (min-width: 260px) and (max-width: 400px){
    body{
        width: 100%;
     height: auto;;
    }
    .navigation{
        width: 100%;
        height: 30vh;
        overflow: hidden;
    }
    .navigation a{
        font-size: 12px;
        font-weight: bold;
        margin: 0 !important;
        margin: 0 10px 0 10px !important;
    }
    .navigation h2{
        font-weight: bold;
    }
    .navigation h1{
        font-size: 7rem !important;
        transform:rotate(90deg);
       margin: 0 !important;
        position: absolute;
        left: -20rem;
        top: 0;
        
    }
    .footer{
        background-color: teal;
    }
    .footer h3{
        font-size: 25px !important;
        margin: 0;
    }
    .con{
        display: flex;
      flex-direction: column;
        height: 60vh !important;
        width: 100% !important;
        background-color: tomato;
    }
    .one{
        background-color: yellow;
        width: 70% !important;
        margin: 0 !important;
        display: flex !important;
        height: 50vh !important;
        margin: 2px 0 2px 0 !important;

    }
    .one .img{
        width: 100% !important;
        height: 10vh !important;
        
        background-color: violet;
    } 
    .one .img img{
        width: 20px;
    }

}






/* for mobile */
@media only screen and (min-width: 400px) and (max-width: 600px){
    body{
        width: 100%;
     height: auto;;
    }
    .navigation{
        width: 100%;
        height: 30vh;
        overflow: hidden;
    }
    .navigation a{
        font-size: 15px;
        font-weight: bold;
        margin: 0 !important;
        margin: 0 10px 0 10px !important;
    }
    .navigation h2{
        font-weight: bold;
    }
    .footer{
        width: 100% !important;
    }
    .footer h3{
        font-size: 25px !important;
        margin: 0;
    }
    .con{
        display: flex;

        height: 60vh !important;
        width: 100% !important;
    }
    .one{
        width: 20% !important;
        margin: 0 !important;
        display: flex !important;
        height: 50vh !important;
        margin: 0 8px 0 8px!important;

    }
    .one h1{
        font-size: 13px !important;

    }
    .one input{
        width: 60px !important;
       height: 4vh !important;
       border-radius: 5px !important;
       font-size: 10px;
    }
    .one .img{
        width: 100% !important;
        height: 30vh !important;
        
    } 
    .one .img img{
        width: 10rem;
    }
    .navigation h1{
        font-size: 10rem !important;
        transform:rotate(90deg);
       margin: 0 !important;
        position: absolute;
        left: -24rem;
        top: 0;
        
    }
}



















/* for small tab */
@media only screen and (min-width: 600px) and (max-width: 800px){
    body{
        width: 100%;
     height: auto;;
    }
    .navigation{
        width: 100%;
        height: 30vh;
        overflow: hidden;
    }
    .navigation a{
        font-size: 15px;
        font-weight: bold;
        margin: 0 !important;
        margin: 0 10px 0 10px !important;
    }
    .navigation h2{
        font-weight: bold;
    }
    .navigation h1{
        font-size: 10.4rem !important;
        opacity: 80%;
       margin: 0 !important;
        position: absolute;
        margin-bottom:-10rem !important;
        
        
    }
    .footer{
        width: 100% !important;
    }
    .footer h3{
        font-size: 25px !important;
        margin: 0;
    }
    .con{
        display: flex;

        height: 60vh !important;
        width: 100% !important;
    }
    .one{
        width: 20% !important;
        margin: 0 !important;
        display: flex !important;
        height: 50vh !important;
        margin: 0 8px 0 8px!important;

    }
    .one h1{
        font-size: 13px !important;

    }
    .one input{
        width: 60px !important;
       height: 4vh !important;
       border-radius: 5px !important;
       font-size: 10px;
    }
    .one .img{
        width: 100% !important;
        height: 30vh !important;
        
    } 
    .one .img img{
        width: 10rem;
    }
    

}